# MANAGED BY DSW
041321CHEMBL203_binary_FP_all_data.csv filter=lfs diff=lfs merge=lfs -text
# MANAGED BY DSW
041321CHEMBL203_Binary_modeling_dataset.csv filter=lfs diff=lfs merge=lfs -text
# MANAGED BY DSW
041321CHEMBL203_filtered_data.csv filter=lfs diff=lfs merge=lfs -text
# MANAGED BY DSW
041321CHEMBL203_raw_data.csv filter=lfs diff=lfs merge=lfs -text
