# MANAGED BY DSW
041321CHEMBL1957_binary_FP_all_data.csv filter=lfs diff=lfs merge=lfs -text
# MANAGED BY DSW
041321CHEMBL1957_Binary_modeling_dataset.csv filter=lfs diff=lfs merge=lfs -text
# MANAGED BY DSW
041321CHEMBL1957_filtered_data.csv filter=lfs diff=lfs merge=lfs -text
# MANAGED BY DSW
041321CHEMBL1957_raw_data.csv filter=lfs diff=lfs merge=lfs -text
